<div>
    <h1> Nice to have you joining us! </h1>
    <form>
        <mat-form-field class="input-container">
            <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="input-container">
            <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="input-container">
            <input matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field class="input-container">
            <input matInput placeholder="Confirm Password">
        </mat-form-field>
        
        <button mat-raised-button>Sign Up</button>
    </form>
</div>