.ticket-order-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url("../../../assets/picture/background1.jpg") center no-repeat;
}

.form-fieldset {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: white;
}

.input-label {
    color: white;
}

.order-placed {
    color: white;
    font-size: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.back-button {
    color: white;
    width: 30%;
    height: 20%;
    margin-left: 30%;
    margin-right: 30%;
}

.back-button span {
    color: black;
    font-size: 30px;
}
