
.login-container {
    margin-top: -50px;
    float: right;
    margin-right: 2%;
}

.login-container a {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color:aliceblue;
    cursor: pointer;
    text-decoration: none;
}

.login-container a:hover {
    color: #ccc;
}

h1 {
    font-family: fantasy;
    text-align: center;
    font-size: 80px;
    color: white;
    margin-top: 100px;
}

a:link {
    text-decoration: none;
    color: blueviolet;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-tab-container a {
    font-family: Arial;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color:aliceblue;
}

.mat-menu-panel {
    min-width: 125px !important;
}

.drop-down-link {
    font-size: 20px;
    text-decoration: none;
}
