<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav [style.visibility]="isLoggedIn ? 'hidden' : 'visible'" class="login-container">
    <a [matMenuTriggerFor]="menu">
      Hello, sign in
    </a>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <span class="drop-down-link" (click)="openLoginBox()">User Login</span>
      </button>
      <button mat-menu-item>
        <span class="drop-down-link" (click)="openSignUpBox()">Sign Up</span>
      </button>
    </mat-menu>
  </nav>
  <nav [style.visibility]="isLoggedIn ? 'visible' : 'hidden'" class="login-container">
    <a [matMenuTriggerFor]="menu1">
      Hello, {{username}}
    </a>
    <mat-menu #menu1="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <span class="drop-down-link">User Profile</span>
      </button>
      <button mat-menu-item>
        <a class="drop-down-link" routerLink = "/orderHistory">Order History</a>
      </button>
      <button mat-menu-item>
        <span class="drop-down-link" (click)="onUserLogout()">Log out</span>
      </button>
    </mat-menu>
  </nav>
  <h1>BROADWAY MUSICAL</h1>
  <nav class="main-tab-container">
    <a routerLink = "/shows">Broadway Musicals</a>
    <a routerLink = "/order">Tickets Order</a>
  </nav>
  <hr>
  <router-outlet></router-outlet>
</div>


